/* Custom CSS */
body {
	padding-top: 40px;
}

footer {
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color: #999;
	text-align: center;
}

.container {
	margin-top: 2.5em;
	margin-left:auto;
	margin-right:auto;
	border-radius:2px;
}

/*Overall container for photo gallery thumbs*/
.gallery{
	margin: 1em 1em 0em 1em;
	background-color: #f3f3f3;
	width: 95%;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	padding:30px;
	box-shadow: 0px 2px 2px 2px #888888;
}

#galpush {
	margin-right: -25px;
}

.vidcap {
	border-top: 1px solid #888888;
	padding-top:1em;
}

.panel-heading {
	box-shadow: 0px 1px 1px 1px #888888;
	background-color: #f3f3f3;
	width:95%;
	margin-left:17px;
}

.panel-default {
	padding: 10px;
	border-radius:2px;
}

/*Styling navbar*/
.navbar-default .navbar-toggle {
	background-color:#4a113c;
	border:1px solid #4a113c;
}

.navbar-default {
	min-height: 40px;
	background-color: #804872;
	font-color: white;
	border:none;
	box-shadow:0px 0px 5px #000000;
}

.dropdown-menu {
	background-color: #e2d5e2;
}

/*Styling active navbar button*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	box-sizing:border-box
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	height:50px;
	color:white;
	background-color:#4a113c;
	text-decoration: none;
	border-bottom: 5px solid #b879a8;
}

/*Styling inactive navbar buttons*/
.navbar-default .navbar-nav > li > a {
    color: white;
    -webkit-transition:color, 0.25s ease-in;
	-moz-transition:color, 0.25s ease-in;
	-o-transition:color, 0.25s ease-in;
}

.navbar-default .navbar-nav > li.link > a:hover,
.navbar-default .navbar-nav > li.link > a:focus {
    color: #181818;
    background-color: #b879a8;
}

.navbar-default .navbar-nav > li.dropdown >a:hover {
    color: #181818;
    background-color: #b879a8;
}

.navbar-default .navbar-nav > li.dropdown >a:focus {
	box-sizing:border-box
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	height:50px;
	color:white;
	background-color:#4a113c;
	text-decoration: none;
	border-bottom: 5px solid #b879a8;
}

.navbar-default .navbar-nav > li {
	color:white;
}

.navbar-right {
	padding-right: 5em;
}

.navlogo {
	margin:0 auto;
	margin-top:-5px;
	height:25px;
}

li {
	font-family: 'Arimo', sans-serif;
}

h1, h2, h3, p {
	font-family: 'Raleway', sans-serif;
}

/* CSS for video's thumbnail */
.img-responsive.inactive {
	opacity: 0.6;
	border: 1px solid #b879a8;
	-webkit-transition:opacity, 0.2s ease-in;
	-moz-transition:opacity, 0.2s ease-in;
	-o-transition:opacity, 0.s ease-in;
	-webkit-transition:border, 0.2s ease-in;
	-moz-transition:border, 0.2s ease-in;
	-o-transition:border, 0.2s ease-in;
}

.img-responsive.inactive:hover,
.img-responsive.inactive:focus {
	opacity:0.8;
	border: 2px solid #b879a8;
}

.img-responsive.now-playing {
	border: 3px solid #4a113c;
	box-shadow: 0px 2px 2px 2px #888888;
	opacity: 1.0;
}

.row.blueberry.img-responsive {
	margin: 0 auto;
	width: 628px;
}

/*must be kept as wide as images displayed with 0 margin/padding */
ul.slides{
	width:628px;
	margin: 0;
	padding: 0;
}

.pager li > a {
	background-color:#e2d5e2;
	border: 0px solid #e2d5e2;
	-webkit-transition:background-color, 0.1s ease-in;
	-moz-transition:background-color, 0.1s ease-in;
	-o-transition:background-color, 0.1s ease-in;
}

.pager li > a:focus {
	background-color: #e2d5e2; 
}

.pager li > a:hover {
	background-color: #4a113c;
}

/* Worked out width on an individual basis to center headers */
.maintitle {
	font-family: 'Pacifico', cursive;
}

.maintitle.visible-lg {
	width: 35%;
}

.maintitle.visible-md {
	width:43%;
}

.maintitle.visible-sm {
	width:56%;
}

.maintitle.visible-xs {
	margin:0 auto;
	width:50%;
	font-size:36pt;
	margin-bottom: 0.5em;
}

.maintitle.visible-lg, .maintitle.visible-md, .maintitle.visible-sm {
	margin: 0 auto;
	margin-top: -0.5em;
}

.subtitle.visible-lg {
	margin: 0 auto;
	width:42%;
}

.subtitle.visible-md {
	margin: 0 auto;
	width:52%;
}

.subtitle.visible-sm {
	margin: 0 auto;
	width:69%;
}

.thumbnail {
	margin-right:0.4em;
	margin-left:0.4em;
	height:10%;
	background-color: #e2cde2;
	border:1px solid #e2cde2;
	border-radius:2px;
	box-shadow: 0px 1px 1px 1px #888888;
}

.thumbnail.vidthumbs {
	margin-right:0.4em;
	margin-left:0.4em;
	height:10%;
	background-color: #e2cde2;
	border:1px solid #e2cde2;
	border-radius:2px;
	box-shadow: 0px 1px 1px 1px #888888;
	padding: 20px;
}

.vidthumb {
	width:100%;
}

.thumbnail.vidthumbs{
	height:100%;
	margin-right:0.4em;
	margin-left:0.4em;
	background-color: #e2cde2;
	border:1px solid #e2cde2;
	border-radius:2px;
	box-shadow: 0px 1px 1px 1px #888888;

}

.col-sm-2.thumbnail {
	-webkit-transition:color, 0.2s ease-in;
	-moz-transition:color, 0.2s ease-in;
	-o-transition:color, 0.2s ease-in;
	-webkit-transition:height, 0.2s ease-in;
	-moz-transition:height, 0.2s ease-in;
	-o-transition:height, 0.2s ease-in;
	-webkit-transition:width, 0.2s ease-in;
	-moz-transition:width, 0.2s ease-in;
	-o-transition:width, 0.2s ease-in;

}
.col-sm-2.thumbnail:hover,
.col-sm-2.thumbnail:focus {
    background-color: #b879a8;
    height:11%;
    width:17%;
    border: 1px solid #b879a8;
}


.thumbnail .caption {
	color:#181818;
	font-size:14pt;
}

.container .jumbotron {
	background-color: #e2d5e2;
	border-radius:2px;
	box-shadow: 0px 1px 1px 1px #888888;
}
