/* Custom CSS */
body {
	padding-top: 40px;
}

footer {
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color: #999;
	text-align: center;
}

.banner {
	width: 100%;
	margin-bottom:1em;
}

.container {
	margin-top: 1em;
	margin-left:auto;
	margin-right:auto;
}

.gallery {
	margin: 1em 1em 0em 1em;
	background-color: #A7a7a7;
}

.panel-default {
	padding: 10px;
}

.navbar {
	min-height: 40px;
	border: 0px 0px 0px 0px solid #a4a4a4;
}

.navbar-right {
	padding-right: 5em;
}

.thumbnail {
	margin-right: 0.5em;
	height:10%;
}

.now-playing {
	border: 5px solid #73499A;
	box-shadow: 0px 1px 1px 1px solid black;
}

.cycle-slideshow {
	margin-left:auto;
	margin-right:auto;
	width:60%;
}